#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=FRKN
Version=4.8.2.3
Comment=FRKN client application
Exec=FRKN
Icon=/usr/share/pixmaps/FRKN.png
Categories=Network;Qt;Security;
Terminal=false
